body {
    margin: 0;
}

#header {
    width: 100%;
    background-color: aqua;
    padding: 1rem 0;

    text-align: center;
}

#page-title {
    margin: 0;
}

#main {
    display: flex;
    justify-content: center;

    padding: 2rem;
}

#city-input-div {
    display: flex;
    flex-direction: column;
}